@use 'variables';
@use 'header';
@use 'promo'; 
@use 'catalog';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Это ВАЖНО, чтобы паддинги не раздували блоки
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px; // Или та ширина, которая в макете
    margin: 0 auto;    // Центрирует сайт по середине
    padding: 0 15px;   // Отступы по бокам, чтобы на мобилках не липло к краям
}

.main-content {
    padding-top: 20px; // Отступ от фиксированной шапки
}